h1 {
  color: #ff884d;
  text-align: justify;
  text-shadow: black;
}
ul {
  margin: 5px 3px;
  background-color: #ff884d;
  padding: 14px 15px;
  display: block;
  font-size: 16px;
  cursor: pointer;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.5);
  text-align: left;
}
li a:hover {
  padding: 14px 15px;
  background-color: gray;
  color: white;
  font-size: 16px
}
ul {
  list-style: none;
}
body {
  background-color: gray;
}
