body {
  font-family: 'Roboto', sans-serif;
  background: #07273d;
  color: white; }

@media screen and (max-width: 400px) {
  max-width: 400px; }
ul {
  list-style-type: none; }

.navHeader {
  padding: 15px;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
  height: 70px;
  position: fixed;
  top: 0;
  list-style-type: none;
  font-size: 20px; }

.navHeader a {
  margin-left: 20px;
  color: white; }

.navHeader:hover a {
  color: white;
  opacity: .8; }

.navBody li {
  font-size: 16px;
  margin-top: 10px;
  list-style-type: none; }

.header {
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 40px; }

#name {
  font-size: 50px; }

#img {
  border-radius: 50%;
  width: 200px;
  height: 200px; }
  #img img {
    border: solid white 3px; }

.container {
  padding: 1em; }

.head {
  margin-top: 20px; }

.content {
  margin-top: 2em; }

.cover-photo {
  margin-top: 70px;
  padding: 2em;
  color: white;
  text-shadow: 1px 2px black;
  width: 100%;
  background: url("../img/WEB.jpg");
  background-position: center;
  background-size: cover; }

.gallery-tile {
  height: 100%; }
  .gallery-tile a {
    color: black; }

.gallery {
  margin: auto;
  width: 100%;
  height: 200px;
  transition: all .6s;
  background-position: center;
  background-size: cover; }
  .gallery:hover {
    width: 90%; }
    .gallery:hover .triangle {
      display: block; }

.triangle {
  display: none;
  width: 0;
  height: 0;
  border-top: 100px solid rgba(255, 255, 255, 0.8);
  border-right: 100px solid transparent;
  transition-delay: .5s; }

.voyager {
  background: url("../img/voyager.png");
  background-position: center;
  background-size: cover; }

.qpage {
  background: url("../img/quiz-page.png");
  background-position: center;
  background-size: cover; }

.google {
  background: url("../img/google.png");
  background-position: center;
  background-size: cover; }

.awild {
  background: url("../img/arctic-wild.png");
  background-position: center;
  background-size: cover; }

.sale {
  background: url("../img/nmd.png");
  background-position: center;
  background-size: cover; }

img {
  width: 100%; }

#projects {
  text-align: center;
  color: #ff353f; }

.buttons {
  float: right; }
  .buttons #day-mode {
    background: white;
    color: #4286f4; }
  .buttons #night-mode {
    background: #142634;
    color: white; }
  .buttons button {
    padding: 10px;
    font-size: 14px;
    outline: none;
    border: none; }

footer {
  height: 100%;
  width: 100%;
  background: #212223;
  color: white; }

.media {
  display: flex;
  justify-content: center;
  align-items: center; }

#media {
  margin: 2em; }
  #media img {
    width: 50px; }
    #media img:hover {
      cursor: pointer; }

@media screen and (max-width: 550px) {
  .head {
    margin-top: 10px; }

  #img {
    width: 100%;
    height: 100%; }
    #img img {
      display: block;
      margin: auto;
      width: 100%;
      max-width: 400px;
      height: 300px;
      border-radius: 0; } }

/*# sourceMappingURL=styles.css.map */
