.container {
  padding: 1em;
  margin-top: 75px;
}
.head {
  margin-top: 20px;
}
.content {
  margin-top: 2em;
}
.gallery-tile {
  height: 100%;
  // background-color: rgba(0, 0, 0, .9);
}
.gallery {
  margin: auto;
  width: 100%;
  height: 200px;
  transition: all .6s;
  animation-name: paralax;
  a {
    color: white;
    text-shadow: 2px 1px black;
  }
  &:hover {
  }
}
.voyager {
  background: url("../img/voyager.png");
  background-position: center;
  background-size: cover;
}
.qpage {
  background: url("../img/quiz-page.png");
  background-position: center;
  background-size: cover;
}

.google {
  background: url("../img/google.png");
  background-position: center;
  background-size: cover;
}

.awild {
  background: url("../img/arctic-wild.png");
  background-position: center;
  background-size: cover;
}

img {
  width: 100%;
}
#projects {
  text-align: center;
}
@media screen and (max-width: 550px) {
  .head {
    margin-top: 10px;
  }
  #img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
}

@media screen and (min-width: 550px) {

}
