.container {
  padding: 1em;
}
.head {
  margin-top: 20px;
}
.content {
  margin-top: 2em;
}
.cover-photo {
  margin-top: 70px;
  padding: 2em;
  color: white;
  text-shadow: 1px 2px black;
  width: 100%;
  background: url("../img/WEB.jpg");
  background-position: center;
  background-size: cover;
}
.gallery-tile {
  height: 100%;
  a {
    color: black;
  }
}
.gallery {
  margin: auto;
  width: 100%;
  height: 200px;
  transition: all .6s;
  &:hover {
    width: 85%;
  }
}
.voyager {
  background: url("../img/voyager.png");
  background-position: center;
  background-size: cover;
}
.qpage {
  background: url("../img/quiz-page.png");
  background-position: center;
  background-size: cover;
}

.google {
  background: url("../img/google.png");
  background-position: center;
  background-size: cover;
}

.awild {
  background: url("../img/arctic-wild.png");
  background-position: center;
  background-size: cover;
}

img {
  width: 100%;
}
#projects {
  text-align: center;
  color: #ff353f;
}
@media screen and (max-width: 550px) {
  .head {
    margin-top: 10px;
  }
  #img {
    width: 100%;
    height: 100%;
    img {
      display: block;
      margin: auto;
      width: 100%;
      max-width: 400px;
      height: 300px;
      border-radius: 0;
    }
  }
}

@media screen and (min-width: 550px) {

}
