.container {
  padding: 1em;
}
.head {
  margin-top: 20px;
}
.content {
  margin-top: 2em;
}
.cover-photo {
  margin-top: 70px;
  padding: 2em;
  color: white;
  text-shadow: 1px 2px black;
  width: 100%;
  background: url("../img/WEB.jpg");
  background-position: center;
  background-size: cover;
}
.gallery-tile {
  height: 100%;
  a {
    color: black;
  }
}
.gallery {
  margin: auto;
  width: 100%;
  height: 200px;
  transition: all .6s;
  background-position: center;
  background-size: cover;
  &:hover {
    width: 90%;
    .triangle {
      display: block;
      img {
        position: relative;
        top: -85px;
        left: 15px;
        width: 35px;
      }
    }
  }
}
.triangle {
  display: none;
  width: 0;
	height: 0;
	border-top: 100px solid rgba(255, 255, 255, .8);
	border-right: 100px solid transparent;
  transition-delay: .5s;
}
.voyager {
  background: url("../img/voyager.png");
  @include background;
}
.qpage {
  background: url("../img/quiz-page.png");
  @include background;
}
.google {
  background: url("../img/google.png");
  @include background;
}
.awild {
  background: url("../img/arctic-wild.png");
  @include background;
}
.sale {
  background: url("../img/nmd.png");
  @include background;
}
.cSound {
  background: url("../img/csounds.png");
  @include background;
}

img {
  width: 100%;
}
#projects {
  text-align: center;
  color: #ff353f;
}
.buttons {
  float: right;
  #day-mode {
    background: white;
    color: #4286f4;
  }
  #night-mode {
    background: #142634;
    color: white;
  }
  button {
    padding: 10px;
    font-size: 14px;
    outline: none;
    border: none;
  }
}
footer {
  height: 100%;
  width: 100%;
  background: #212223;
  color: white;
}
.media {
  display: flex;
  justify-content: center;
  align-items: center;

}
#media {
  margin: 2em;
  img {
    width: 50px;
    &:hover {
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 550px) {
  .head {
    margin-top: 10px;
  }
  #img {
    width: 100%;
    height: 100%;
    img {
      display: block;
      margin: auto;
      width: 100%;
      max-width: 400px;
      height: 300px;
      border-radius: 0;
    }
  }
}


@media screen and (min-width: 550px) {

}
