body {
  font-family: 'Roboto', sans-serif;
  // background: #07273d;
  // color: white;
}
@media screen and (max-width: 400px){
  max-width: 400px;
}
ul {
  list-style-type: none;
}

.navHeader  {
  padding: 15px;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, .9);
  height: 70px;
  position: fixed;
  top: 0;
  list-style-type: none;
  font-size: 20px;
}
.navHeader a {
  margin-left: 20px;
  color: white;
}
.navHeader:hover a {
  color: white;
  opacity: .8;
}
.content {
}
.navBody li {
  font-size: 16px;
  margin-top: 10px;
  list-style-type: none;
}
.header {
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

#name {
  font-size: 50px;
}

#img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  img {
    border: solid white 3px;
  }
}
